<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="FirebaseUrl" value="https://fbtool-e0efc.firebaseio.com/" />
    <add key="FirebaseSecretKey" value="lVOdDXogb8edtJdoVW1moAw6MjjUo7obcEQrIJSW" />
    <add key="ServerName" value="server1" />
    <add key="ProfilePath" value="C:/profile" />
  </appSettings>
</configuration>